{% extends "base.html" %}

{% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    <link rel="stylesheet"
                  href="{{url_for('static', filename='index.css')}}">
{% endblock %}
{% block content %}



<div class="container">
    <h2>Formulário Bootstra</h2>

    <form action="{{url_for('shareholder.edit' , id = data.User.id)}}" method="POST">
        <ul class="nav nav-tabs" id="myTabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#personalTab">Dados Pessoais</a> 
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#addressTab">Endereços</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#accountTab">Contas</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active " id="personalTab">
                <br>
                <div class="form-group ">
                    <label for="name">Nome:</label>
                    <input type="text" class="form-control" id="name" name="name" value="{{data.User.name}}">
                </div>
                <div class="form-group">
                    <label for="email">E-mail:</label>
                    <input type="email" class="form-control" id="email" name="email" value="{{data.User.email}}">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="cpf">CPF:</label>
                        <input type="text" class="form-control" id="cpf" name="cpf" value="{{data.User.cpf}}">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="birth">Data de Nascimento:</label>
                        <input type="text" class="form-control" id="birth" name="birth" value="{{data.User.birth}}">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="telephone">Telefone:</label>
                        <input type="text" class="form-control" id="telephone" name="telephone" value="{{data.User.telephone}}">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="cell">Celular:</label>
                        <input type="text" class="form-control" id="cell" name="cell" value="{{data.User.cell}}">
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="addressTab">
                <br>
                
                    <div class="form-row">

                        <div class="form-group col-md-9">
                            <label for="street">Rua:</label>
                            <input type="text" class="form-control" id="street" value="{{data.Address.street}}" name="street">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="street">Número:</label>
                            <input type="text" class="form-control" id="street" value="{{data.Address.number}}" name="number">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="city">Cidade:</label>
                            <input type="text" class="form-control" id="city" value="{{data.Address.city}}" name="city">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="state">Estado:</label>
                            <input type="text" class="form-control" id="state" value="{{data.Address.state}}" name="state">
                        </div>
                    </div>

                    <div class="form-group ">
                        <label for="cep">CEP:</label>
                        <input type="text" class="form-control" id="cep" value="{{data.Address.cep}}" name="cep">
                    </div>
                






            </div>
            <div class="tab-pane" id="accountTab">
                <br>
                <div class="form-group">
                    <label for="accounts">Conta 1:</label>
                    <input type="text" class="form-control" id="accounts" name="accounts">
                </div>
                
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>



{% endblock %}