{% extends "base.html" %}

{% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    <link rel="stylesheet"
                  href="{{url_for('static', filename='index.css')}}">
{% endblock %}
{% block content %}
<div class="container mt-5">
    <h1>Cotas</h1>
    <div class="card table-responsive-md">
        <div class="container mt-4">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <form action="./" method="GET">
                        
                        <div class="input-group">
                            <input type="text" name="search" id="search" class="form-control" placeholder="Buscar Nome, CPF, Matrícula, etc">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">Buscar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <br>
        
        <table class="table  ">
            <thead>
                <tr>
                    <th>code</th>
                    <th>data</th>
                    <th>grouping</th>
                    <th>status </th>
                    <th>old </th>
                    
                    
                </tr>
            </thead>
            <tbody>
                

            {%if data:%}
            
                {%for x in data:%}
                <tr>
                    <td>{{x.code}}</td>
                    <td>{{x.date}}</td>
                    <td>{{x.grouping}}</td>
                    <td>{{x.status}}</td>
                    <td>{{x.old}}</td>
                </tr>
                    {%endfor%}
                {%else:%}
                <tr>
                    <td>
                            
                            <strong></strong> 
                        
                    </td>
                    <td></td>
                    <td></td>
                    <td>Não existem resultados</td>
                    <td></td>
                    <td></td>
                </tr>
                {%endif %}

            
            </tbody>
        </table>
        <ul class="pagination justify-content-center">
            {% if pagination[1] > 1: %}
            <li class="page-item ">
                <a class="page-link" href="{{url_for('quote.index' , page=1 , search=pagination[0]) }}">primeira</a>
            </li>
            <li class="page-item ">

                <a class="page-link" href="{{url_for('quote.index' , page = pagination[1] - 1 , search=pagination[0]) }}">anterior</a>
            </li>
            {% endif %}


            <li class="page-item active">
                <span class="page-link">{{ pagination[1] }}</span>
            </li>
            
            {% if pagination[4] > pagination[1]:%}
            <li class="page-item">
                
                <a class="page-link" href="{{url_for('quote.index' , page = pagination[1] + 1 , search=pagination[0]) }}">próxima</a>
            </li>
            <li class="page-item">

                <a class="page-link" href="{{url_for('quote.index' , page = pagination[4] , search=pagination[0]) }}">última</a>
                
            </li>
            {% endif %}
        </ul>
       
    </div>


    </div>
</div>



{% endblock %}


