{% extends "base.html" %}

{% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    <link rel="stylesheet"
                  href="{{url_for('static', filename='index.css')}}">
                  <style>
        .card-list {
            display: flex;
            flex-wrap: wrap;
        }
        .card {
            flex: 0 0 calc(33.33% - 20px);
            margin: 10px;
        }
    </style>
{% endblock %}
{% block content %}

<div class="container">
    <h2>Painel de controle</h2>
    
</div>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Informações de Títulos</title>
</head>
<body>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Informações de Títulos</h5>
                        <div class="row">
                            <div class="col-md-4">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        Agosto 
                                        <ul class="list-group">
                                            <li class="list-group-item">Total de Títulos: <span class="badge badge-primary">10</span></li>
                                            <li class="list-group-item">Valores Pagos: <span class="badge badge-primary">R$ 102,00</span></li>
                                            <li class="list-group-item">Número de Cotistas: <span class="badge badge-primary">5</span></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        Setembro
                                        <ul class="list-group">
                                            <li class="list-group-item">Total de Títulos: <span class="badge badge-primary">15</span></li>
                                            <li class="list-group-item">Valores Pagos: <span class="badge badge-primary">R$ 120,00</span></li>
                                            <li class="list-group-item">Número de Cotistas: <span class="badge badge-primary">8</span></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        Outubro
                                        <ul class="list-group">
                                            <li class="list-group-item">Total de Títulos: <span class="badge badge-primary">8</span></li>
                                            <li class="list-group-item">Valores Pagos: <span class="badge badge-primary">R$ 100,00</span></li>
                                            <li class="list-group-item">Número de Cotistas: <span class="badge badge-primary">4</span></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-2">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                            
                        <h5 class="card-title">Tarefas</h5>
                        <div class="card-list">
                            <div class="card bg-light">
                                <div class="card-body">
                                    <h5 class="card-title">Tarefa 1 
                                        <span class="badge badge-danger">Pendente</span></h5>
                                    <p class="card-text">Descrição da tarefa 1.</p>
                                </div>
                            </div>
                            <div class="card bg-light">
                                <div class="card-body">
                                    <h5 class="card-title">Tarefa 1 
                                        <span class="badge badge-warning">Andamento</span></h5>
                                    <p class="card-text">Descrição da tarefa 2.</p>
                                </div>
                            </div>
                            <div class="card bg-light">
                                <div class="card-body">
                                    <h5 class="card-title"> 
                                        <span class="badge badge-success">Concluido</span>
                                    </h5>Nome</h5>
                                    <p class="card-text">Descrição da tarefa 3.</p>

                                    <hr>
                                    <h5 class="card-title"> 
                                        
                                    </h5>Nome</h5>
                                    <p class="card-text">Descrição da tarefa 3.</p>
                                    <hr>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>




{% endblock %}